@charset "utf-8";
	.Rectangle_3_xA0_Imagen
{
	background-image : url(Rectangle_3_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Rectangle_3_copy_xA0_Imagen
{
	background-image : url(Rectangle_3_copy_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Rectangle_3_copy_2_xA0_Imagen
{
	background-image : url(Rectangle_3_copy_2_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Rectangle_3_copy_3_xA0_Imagen
{
	background-image : url(Rectangle_3_copy_3_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Rectangle_4_xA0_Imagen
{
	background-image : url(Rectangle_4_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Slide3_xA0_Imagen
{
	background-image : url(Slide3_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Slide2_xA0_Imagen
{
	background-image : url(Slide2_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Layer_2_xA0_Imagen
{
	background-image : url(Layer_2_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Ellipse_1_xA0_Imagen
{
	background-image : url(Ellipse_1_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Ellipse_2_xA0_Imagen
{
	background-image : url(Ellipse_2_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Ellipse_3_-_Active_xA0_Imagen
{
	background-image : url(Ellipse_3_-_Active_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.Layer_1_xA0_Imagen
{
	background-image : url(Layer_1_xA0_Imagen.png);
	background-repeat : no-repeat;
}
.None2
{
	font-family : AgencyFB Reg;
	font-size : 65px;
	line-height : 11.99px;
}
.None1
{
	font-family : AgencyFB Reg;
	font-size : 55px;
	line-height : 11.99px;
}
.Rectangle_1
{
	background-image : url(Rectangle_1.png);
	background-repeat : no-repeat;
}
.Rectangle_2
{
	background-image : url(Rectangle_2.png);
	background-repeat : no-repeat;
}
.None3
{
	font-family : AgencyFB Reg;
	font-size : 55px;
	line-height : 11.99px;
}
.None7
{
	font-family : AgencyFB Reg;
	font-size : 25px;
	line-height : 11.99px;
}
.None5
{
	font-family : AgencyFB Reg;
	font-size : 55px;
	line-height : 11.99px;
}
.Rectangle_5
{
	background-image : url(Rectangle_5.png);
	background-repeat : no-repeat;
}
.Rectangle_6
{
	background-image : url(Rectangle_6.png);
	background-repeat : no-repeat;
}
.None
{
	font-family : AgencyFB Reg;
	font-size : 68px;
	line-height : 11.99px;
}
.Background
{
	background-image : url(Background.png);
	background-repeat : no-repeat;
}
.None4
{
	font-family : AgencyFB Reg;
	font-size : 55px;
	line-height : 11.99px;
}
.None6
{
	font-family : AgencyFB Reg;
	font-size : 35px;
	line-height : 11.99px;
}
